# Local configurations
.obsidian/
.env

# OS files
.DS_Store
Thumbs.db

# Build artifacts and temporary files
__pycache__/
*.pyc

# Content related (App specific or untracked local versions)
content/
ghost/
wikijs/
drupal/
bookstack/
hugo/

# Secrets
*.key
*.pem
*.token
